
/* import font google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



*{
  padding:0;
  margin:0;
  outline:0;
  box-sizing: border-box;
  font-family:  'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}

body,#root{
  width: 100vw;
  height: 100vh;
}

.grid-container{
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;

}

/* Global styling */
.button{
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  border:3px solid #ff6600;
  cursor: pointer;
}

.button.primary{
  background-color: #ff8800;
}

.button.primary:hover{
  background-color: #ff6600;
  color: #334e5e;

}

/* ====================== Start header area ====================== */

header{
  grid-area: header;
  background-color: #223e4e;
  color: #f5f5f5;
  display: flex;
  align-items:center;
  letter-spacing: 1px;
}

header a{
  color: #f5f5f5;
  margin-left: 40px;
  font-size:25px;
  font-weight: 500;
  text-transform: uppercase;
}

header a:hover{
  color:#ff8800;
}

/* ====================== End header area ====================== */


/* ====================== Start main area ====================== */




main{
  grid-area: main;
}

.content{
  display:flex;
  flex-wrap: wrap;
}

/* ====================== Start sidebar area ====================== */

.sidebar{
  flex: 1 20rem;
  /* background-color: #a5a5a5; */
  /* box-shadow: 3px 5px 8px #223e4e; */
  border-left: 1px solid #ccc;
  padding: 10px;
}

/* ==== Cart Items styling ==== */

.cart{
  display:flex;
  padding: 1rem;
  margin: 1rem;
}

.cart-header{
  border-bottom: 1px solid #ccc;
}

.cart-items{
  width: 100%;
}

.cart-items img{
  width:5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cart-items li{
  display: flex;
  border-bottom: 1px solid #ccc;
}

.cart-items li div{
  padding: 0.5rem;
}

.cart-items li div:last-child{
  flex: 1;
}

.cart-items .right{
  display: flex;
  justify-content: space-between;
}

.cart-items .right button{
  padding: 0.7rem 2rem;
  background-color: #ff8800;
  border: 3px solid #ff6600;
}

.cart-items .right button:hover{
  background-color:#ff2600;
  border: 3px solid #c91616;
}

.cart .total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}

.cart .total > div{
  font-size: 1.5rem;
}

.cart .total > div,
.cart .total > button{
  flex: 1rem;
}


.cart .total button{
  background-color: #3eee8d;
  border: 3px solid #278b40;
}

.cart .total  button:hover{
  background-color: #3bdd84;
  border: 3px solid #278b40;
}

/* ==== CheckOut form styling ==== */
.cart form{
  width: 100%;
}

.cart .form-container{
  width: 100%;
}

.cart .form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cart .form-container input{
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.cart .form-container button{
  background-color: #3eee8d;
  border: 3px solid #278b40;
}

.cart .form-container button:hover{
  background-color: #3bdd84;
  border: 3px solid #278b40;
}

/* ====================== End sidebar area ====================== */


.main{
  flex:3 60rem;
  background-color: #f5f5f5;
  padding: 10px;
}

/*=================== Start Filter styling ====================*/

.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid #ccc;
}

.filter div{
  flex: 1;
}


/*=================== End Filter styling ====================*/


/*=================== Start Products styling ====================*/
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li{
  flex: 0 1 25rem;
  height: 45rem;
  /* padding: 1rem; */
  margin: 1rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #334e5e;
  border-radius: 4px;
}

.product img{
  width: 25rem;
  height: 35rem;
  padding: 20px;
  border-radius: 25px;
}

.product p{
  padding-left: 20px;
  font-size: 20px;
  color: #eee;
}

.product .product-links:hover >p{
  color: #ff6600;
}

.product .product-links:hover >img{
  filter: brightness(0.8);
}

.product .product-price{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0;
  width: 100%;
}

.product .product-price div,
.product .product-price button{
  text-align: center;
  flex: 1;
  color: #eee;
}

.product .product-price div{
  font-size: 2rem;
  width: 100%;
}


/*=================== End Products styling ====================*/


/*============= Start Modal products styling ================*/

.product-details{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img{
  max-height: 86vh;
  max-width: 40rem;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.product-details-description{
  flex:1 1;
  margin: 1rem;
}

.product-details-description h1{
  font-size: 30px;
  padding: 1rem;
}

.product-details-description p{
  margin:2rem 1rem;
}

.product-details .product-details-description .product-price{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  font-size: 30px;
}

.product-details .product-details-description .product-price div{
  flex: 1;
  font-size: 25px;
}

.product-details .product-details-description .product-price button{
  flex: 1;
}

.close-modal{
  position: absolute;
  right: 1rem;
  top:1rem;
  z-index: 100;
  padding: 0 8px;
  background-color: transparent;
  font-size: 25px;
  border: none;
  cursor: pointer;
}


/*============= End Modal products styling ================*/


/*============= Start Modal Order styling ================*/


.order-details{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details .success-message{
  color: #278b40;
  padding: 15px 10px;
  font-size: 30px;
}

.order-details h2{
  font-size: 25px;
  padding: 10px;
}

.order-details li{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div{
  padding: 15px;
}

.order-details .items{
  text-align: right;
  padding: 0;
}


/*============= End Modal Order styling ================*/



/* ====================== End main area ====================== */




/* ====================== Start footer area ====================== */
footer{
  grid-area: footer;
  background-color: #223e4e;
  color:#f5f5f5;
  display: flex;
  justify-content: center;
  align-items:center;
  text-transform: capitalize;
}

/* ====================== End Footer area ====================== */
